nav.navbar.navbar-expand-lg.navbar-light
    .container-fluid
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarTogglerDemo03' aria-controls='navbarTogglerDemo03' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        a.navbar-brand.text-info(href='/') Examen
        #navbarTogglerDemo03.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                if !isAuth
                    li.nav-item
                        a.nav-link(href='/auth') Se connecter
                if isAuth
                    li.nav-item
                        a.nav-link(href='/auth/logout') Se déconnecter